[submodule "markdown-here.wiki"]
	path = markdown-here.wiki
	url = https://github.com/adam-p/markdown-here.wiki.git
[submodule "repo.wiki"]
	path = repo.wiki
	url = https://github.com/weijenloi/repo.wiki.git
[submodule "PythonExample"]
	path = PythonExample
	url = git@github.com:weijenloi/PythonExample.git
[submodule "Just4Fun"]
	path = Just4Fun
	url = git@github.com:weijenloi/Just4Fun.git
[submodule "sunday_project"]
	path = sunday_project
	url = git@github.com:lejen-code/sunday_project.git
